body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.gallery {
  max-width: 2100px;
  width: 100%;
}

.gallery__main-img-container {
  margin-bottom: 3rem;
}

.gallery__main-img {
  height: 100vh;
  max-height: 1200px;
  width: 100%;
  object-fit: cover;
}

.gallery__thumbnails-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
  padding: 0 2rem;
  img {
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
}

@media screen and (min-width: 501px) {
  .gallery__thumbnails-container img:hover {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 500px) {
  .gallery__main-img-container {
    margin-bottom: 2rem;
  }
  .gallery__thumbnails-container {
    grid-template-columns: 1fr;
    padding: 0 1rem;
    gap: 1rem;
    margin-bottom: 2rem;
  }
}
